{% block title %}
    Login
{% endblock %}

{% block main %}
<br>
<form action="/login" method="post">
    <div class="form-group">
        <b>Name</b> <input autocomplete="off" autofocus name="Name" id="name" type="text" required>
        <br>
        <b>Date of Birth</b> <input autocomplete="off" autofocus name="Date of Birth" id="dateOfBirth" type="date" required>
        <br>
        <a href="{{ url_for('signup') }}">Sign Up</a>
        <button type="submit" class="btn btn-primary">Login</button>
    </div>
</form>
{% endblock %}

