{% block title %}
    Login
{% endblock %}

{% for message in get_flashed_messages() %}
<h2>{{ message }}</h2>
{% endfor %}

{% block main %}
<br>
<form action="/login" method="post">
    <div class="form-group">
        <b>Name</b> <input autocomplete="off" autofocus name="Name" id="name" type="text" required>
        <br>
        <b>Date of Birth</b> <input autocomplete="off" autofocus name="Date of Birth" id="dateOfBirth" type="date" required>
        <br>
        <a href="{{ url_for('signupPage') }}">Sign Up</a>
        <input type="submit" class="btn btn-primary"></input>
    </div>
</form>
{% endblock %}