{% block title %}
    Sign Up
{% endblock %}

{% block main %}
<br>
<form action="/signup" method="post">
    <div class="form-group">
        <b>Name</b> <input autocomplete="off" autofocus name="Name" id="name" type="text" required>
        <br>
        <b>Date of Birth</b> <input autocomplete="off" autofocus name="Date of Birth" id="dateOfBirth" type="date" required>
        <br>
        <b>Height</b> <input autocomplete="off" autofocus name="HeightFt" id="heightFt" type="number" required> <b>ft</b> 
        <input autocomplete="off" autofocus name="HeightIn" id="heightIn" type="number" required> <b>in</b>
        <br>
        <b>Weight</b> <input autocomplete="off" autofocus name="Weight" id="weight" type="number" required>
        <b>Sex</b>
        <select name="Sex" id="sex">
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>
        <br>
        <a href="{{ url_for('home') }}">Cancel</a>
        <button type="submit" class="btn btn-primary">Sign Up</button>
    </div>
</form>
{% endblock %}

{% for message in get_flashed_messages() %}
<h2>{{ message }}</h2>
{% endfor %}